body{
  background-color: lightblue;
}

.navbar {
  background: #0047AB;
  padding: 1rem;
  text-align: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: bold;
  transition: color 0.2s;
}

.navbar a:hover {
  color: #ff9800;
}

#SignUpDiv, #LoginDiv {
  background: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
